.button {
    background-color:green;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    color:black;
    /* margin: 5px; */
    width:70px;
    margin-left: 20px;

}